/* Reset */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

::-webkit-selection { background: #d6ecfd; text-shadow: none; }
::-moz-selection { background: #d6ecfd; text-shadow: none; }
::selection { background: #d6ecfd; text-shadow: none; }

* { margin: 0; }

/* Global Styles */

body {
  background: #0A1B30;
  color: #FFF;
  font: 18px / 26px Georgia, serif;
  padding: 26px;
  max-width: 35em;
}

h1, h2, h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 60px;
  line-height: 76px;
  margin-bottom: 52px;
}

h1 a {
  border-bottom-width: 2px;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

h2 {
  font-size: 36px;
  line-height: 52px;
  margin: 52px 0 26px;
}
 
h3 {
  font-size: 18px;
  margin: 26px 0;
}
 
h4 {
  font-size: 18px;
  margin: 26px 0 0;
}

p {
  margin: 26px 0;
}

a {
  border-bottom: 1px solid #43EB92;
  color: #43EB92;
  font-family: 'Courier New', monospace;
  text-decoration: none;
}

/* Local Styles */

.posts {
  list-style: none;
  padding: 0;
}

.posts li {
  margin-bottom: 26px;
}

.date {
  font-family: 'Courier New', monospace;
  font-style: italic;
}
