<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script href="/javascripts/application.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900|Poly' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>
  <a href="/">Rory Franklin</a>
</h1>
<article>
  {{content}}
</article>

<footer>
  <p>
    <a href="http://www.twitter.com/roryfranklin">@roryfranklin</a>
  </p>
  <p>
    Rory <span class="ss-icon">love</span> LOLcats.
  </p>
</footer>
</body>
</html>
